@charset "UTF-8";
/* CSS Document */
#body {
		width: auto;
		height: auto;
}
#textbox {
	background-color: red;
	width: 20%;
	height: 500px;
	padding: 5px;
	float: left;
}

#screen_selector {
	background-color: blue;
	width: 75%;;
	height: 40px;
	padding: 25px;
	float: right
}

#screen {
	background-color: green;
	width: 75%;
	height: 360px;
	padding: 25px;
	right: 10px;
	float: right;
}

#footer {
	background-color: yellow;
	padding: 5px;
	clear: both;
	height: 30px;
}
.Day {
	background-color: gray;	
	border: medium;
	border-radius: 7px;
}

.Night {
	background-color: lightgray;	
	border: medium;
	border-radius: 7px;
}
