@charset "UTF-8";
/* CSS Document */

#inventory

#body {
		width: auto;
		height: 95%;
}
#textbox {
	background-color: red;
	width: 20%;
	height: 500px;
	padding: 5px;
	float: left;
}

#screen_selector {
	background-color: blue;
	width: 75%;;
	height: 40px;
	padding: 25px;
	float: right
}

#screen {
	background-color: green;
	width: 75%;
	height: 360px;
	padding: 25px;
	right: 10px;
	float: right;
}

#footer {
	background-color: yellow;
	padding: 5px;
	clear: both;
	height: 30px;
}
.Day {
	background-color: gray;	
	border: medium;
	border-radius: 7px;
}

.Night {
	background-color: lightgray;	
	border: medium;
	border-radius: 7px;
}


/*   Screen Stuff   */

@media screen and (max-width: 980px)   {
		#body {
				width: 94%;
			}
		#screen {
				width: 75%;
			}
		#textbox {
				width: 20%;	
		}
	}
	
	@media screen and (max-width: 700px)  {
			#screen, #textbox {
					width: auto; 
					float: none;
			}
			#screen_selector {
				height: auto;
			}
	}
	
	@media screen and (max-width: 480px)  {
			#screen_selector {
				height: auto;
			}

	@media only screen 
	and (min-device-width: 320px)
	and (max-device-width: 568px)  {
			body {
					font-size:40px;
			}
			#screen_selector {
					height: auto;
			}
			#screen {
					width: auto;
			}
			#textbox {
					width: auto;
					clear: both;
			}
			#textbox, #screen, #footer {
					border-radius: 16px;
					border-width: 8px;
			}
	}